.container {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  }
  
  .logo {
    font-weight: bold;
  }
  
  .text {
    font-size: 12px;
  }