.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.gridItem {
  min-width: 0;
}

.element {
  margin-top: 10px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.form button {
  padding: 7px;
  display: flex;
  cursor: pointer;
  border-radius: 9px;
  gap: 6px;
  background: green;
  color: white;
  font-size: medium;
}

.form input{
  border-radius: 5px;
}

.icon {
  padding: 0.1rem;
}


.container details {
  margin: 1rem;
  padding: 10px;
  border: 0.1px outset var(--bgSoft);
  border-radius: 8px;
  background-color: var(--bgSoft);
  
}

.container summary {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  margin: -10px;
  padding: 10px;
  border-radius: 8px;
}

.container details > div {
  padding: 10px 0;
}

.container details[open] summary {
  transition: all 0.2s ease-in-out;
}

.deleteForm {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
}

.listStyle h4 {
  margin-right: -1rem;
}

.listStyle li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  margin: 5px;
}
