.container {
    padding: 15px;
    border-radius: 10px;
    background-color: var(--bgSoft);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .title {
    color: var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .form {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    border:2px solid #2e374a;
    background-color: var(--bgSoft);
    border-radius: 5px;
    padding: 5px;
  }
  
  .input {
    background-color: #2e374a;
    border: transparent;
    color: var(--text);
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
  }


  .input::-webkit-calendar-picker-indicator{
    background-color: white;
    padding: 4px;
    border-radius: 5px;
  }

  .label{
    font-size: 12px;
    background-color: var(--bgSoft);
    font-weight: 600;
    text-decoration: dotted;
  }


  .button{
    display: inline;
    margin-top: 3px;  
    cursor: pointer;
  }