.container{
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius:10px ;
}

.title{
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--textSoft);
}

.header{
  display: flex;
  padding: 15px;
  font-size: 12px;
  justify-content: space-between;
}

.header select{
  padding: 0px;
  height: 30px;
  border: 12px;
  background: var(--bgSoft);
  color: white;
}

.header select option{
  border-radius: 2px;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.table{
  width: 100%;
}

.table td{
  padding: 10px;
}

.user{
  display: flex;
  gap: 10px;
  align-items: center;
}

.userImage{
  object-fit: cover;
  border-radius: 50%;
}

.status{
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: white;
}

.pending{
  background-color: #f7cb7375;
}

.done{
  background-color: #afd6ee75;
}

.cancelled{
  background-color: #f7737375;
}

.button{
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  text-transform: lowercase;
  background-color: transparent;
  border: 1x grey;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button:hover{
  color: black;
  background-color: azure;
  border: 1x inset white;
}


.paragraph{
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  max-width: 250px;
  padding: 0;
  background-color: var(--bgSoft);
  border: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paginationButton {
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #ddd;
  cursor: pointer;
}


.pageNumber {
  margin: 0 10px;
  font-weight: bold;
}