:root {
    --content: #ffffff;
    --bgSoft: #003c71;
    --text: white;
    --textSoft: #b7bac1;
    --bg:#f5f5f5;
    --fontcolor:#1f1e1e;
    --hovertext:#55a6ed;
    --hoverBackground: #004b8d;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--bg);
    color: var(--text);
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }