.container {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
    border-radius: 10px;
  }
  
  .container:hover,
  .active {
    background-color: #2e374a;
  }
  .subItem {
    padding-left: 30px;
    font-size: 12px;
  }

  .subItem .title {
    font-size: 12px;
  }
  
  /* Icon styles */
  .container svg {
    font-size: 18px;
  }
  
  .subItem svg {
    font-size: 14px;
  }