.selectContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    border-radius: 10px;
    width: max-content;
  }
  

  .selectChild{
    padding: 0.7rem;
    color: wheat;
    font-size: 0.9rem;
    text-transform: capitalize;
    border-radius: 3px;
    border: none;
    background-color: transparent;
  }

  .selectChild option{
    background-color: var(--bgSoft);
    color: wheat;
  }