.container {
    text-align: center;
  }
  
  .details{
    cursor: pointer;
  }  


  .details > summary {
    list-style: none;
  }
  
  .details > summary::before {
    content: '+';
    font-size: 1rem;
    transition: transform 0.2s;
  }
  
  .details[open] > summary::before {
    content: '|';
    font-size: 8px;
    transform: rotate(90deg);
  }

  .header {
    width: 100%;
    color: var(--bgSoft);
    background-color: var(--textSoft);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    text-transform: capitalize;
    font-weight: 600;
    gap: 2rem;
    letter-spacing: 0.2em;
    margin-bottom: 1.5rem;
  }

  .mqmContainer{
    position: relative;
    justify-self: start;
  }

  .mqmContainer select{
    border: none;
    padding: 5px;
    border-radius: 5px;
  }
  
  .table {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    gap: 2rem;
  }
  
  .table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1); 
  }
  
  .table th,
  .table td {
    padding: 12px;
    font-size: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: var(--textSoft); 
    font-weight: bold;
    color: var(--bgSoft);
    text-transform: uppercase;
  }
  
  .table tr:nth-child(even) {
    color: var(--bgSoft);
    background-color: var(--textSoft); 
  }
  
  .table tr:hover {
    background-color: #f0f0f0;
    color: var(--bgSoft); 
  }
  
  .grandTotal{
    font-size: 18px !important;
    background-color: green !important;
    font-weight: 600 !important;
    color: white !important;
    letter-spacing: 0.1em;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 2px 5px;
    border: none;
    background-color: #f8f8f8;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #e8e8e8;
  }
  
  .pagination .activePage {
    background-color: #007bff;
    color: white;
  }